:root {
  --primary-color: #fff;
  --info-color: bule;
}

.header {
  padding: 40px 20px 30px;
  text-align: center;
  background-color: var(--primary-color);
  box-shadow: 0 0 4px #666;

  h1 {
    font-size: 24px;
  }

  p {
    margin-top: 10px;
  }
}
