$todo-default-color: #717e8a;
$todo-black-color: #000;

.TodoTodo {
  width: 40%;
  background-color: #fff;

  .spinner_area {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);

    .spinner {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 2;
      width: 40px;
      height: 40px;
      margin: -60px 0 0 -20px;
      background-color: #3396ff;
      animation: sk-rotateplane 1.6s infinite ease-in-out;
    }
    @keyframes sk-rotateplane {
      0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      }
      50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      }
      100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
    }
  }

  h2 {
    font-size: 34px;
    font-weight: 400;
    text-align: center;
  }

  .search_input {
    position: relative;
    margin-top: 20px;

    input {
      width: 100%;
      height: 40px;
      padding: 0 40px 0 10px;
      font-size: 18px;
      color: $todo-black-color;
      border: 2px solid $todo-black-color;
      border-radius: 4px;
    }
    button {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      color: #fff;
      background-color: $todo-black-color;
      border-radius: 0 4px 4px 0;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
  .search_tag {
    clear: both;
    overflow: hidden;
    margin-top: 10px;

    input {
      float: left;
      width: 49%;
      height: 30px;
      padding: 0 5px 0 10px;
      color: $todo-default-color;
      border: 2px solid $todo-default-color;
      border-radius: 4px;
    }
    select {
      float: right;
      width: 49%;
      height: 30px;
      padding: 0 5px;
      color: $todo-default-color;
      border: 2px solid $todo-default-color;
      border-radius: 4px;
    }
  }
}
